@media (max-width: 1199.98px) {
  .side1 {
    display: none;
  }
  .side2 {
    display: block;
  }
}

@media (min-width: 1199.98px) {
  .side2 {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .side2 {
    display: none;
  }
  .sidebarcontainer {
    display: none;
  }
}
